body {
  margin: 0;
  padding: 0;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  direction: rtl;

}

h1 {
  margin-bottom: 20px;
  color: #ffffff;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.tab-button.active {
  border: 2px solid #f0f0f0;
  background-color: #007bff;
  color: #f0f0f0;
}

.weather-info {
  border: 1px solid #ddd;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  width: 300px;
  height: 500px; 
  text-align: center; /* Aligns the text inside the block to the right */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

/* Temperature-based color classes for weather-info */
.weather-gray {
  background-color: rgb(212, 212, 212, .7); /* Gray for temperatures ≤ 20°C */
 
}

.weather-light-blue {
  background-color: rgb(173, 216, 230, .7); /* Light blue for temperatures between 20°C and 30°C */
}

.weather-yellow-orange {
  background-color: rgba(255, 165, 0, 0.502, .7); /* Yellow-orange for temperatures ≥ 30°C */
}

.weather-info h1 {
  font-size: 46px; /* Set the desired font size */
  font-weight: bold; /* Optionally make the text bold */
  margin: 0; /* Remove default margin if needed */
}


.weather-info img {
  width: 80%; 
  display: inline-block; 
}


.weather-info .tempeture {
  position:relative;
  font-size: 40px;
  font-weight: 700;
}

.weather-info .tempeture span {
  position:relative;
  font-size: 20px;
  margin-right: 4px;
  top: -17px;
}

.weather-info .description {
  font-size: 20px;
  font-weight: 550;
}

.weather-info .feelsLike span {
  position:relative;
  font-size: 10px;
  top: -5px;
}